.App {
  text-align: center;
}

body {
  background: #e6a163;
}

h3 {
  text-align: center;
}

.centeredRight {
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}

.inputDiv {
  margin: auto;
  padding: 10px;
  display: flex;
}

.inputDiv span {
  width: 33%;
}

.inputDiv a {
  width: 300px;
}

.inputDiv button {
  position: relative;
  top: 10px;
  height: 45px;
}

.inputDivForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.demo-layout-transparent {
  background: rgb(174,226,238);
  background: radial-gradient(circle, rgba(174,226,238,1) 13%, rgba(211,224,238,1) 100%);
  /* background: url('../images/transparent.png') center / cover; */
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
